# Caches
*.pyc
.cache/
.pytest_cache/

# Coverage
.coverage

# Python building
*egg-info
.eggs/
build/
dist/
pip-wheel-metadata/

# VSCode
.vscode/

# MDBenchmark specifics
**/runtimes.csv
**/runtimes.pdf
*.proxy

# Documentation
docs/_build/
docs/.doctrees/

# Documentation
docs/_build/
docs/.doctrees/

# Misc
.DS_Store
