language: python
python: "3.6"

branches:
  only:
    - develop
    - master

cache:
  - pip: true
  - directories:
    - $PIP_CACHE_DIR

env:
  global:
    - MAIN_CMD="pytest"
    - SETUP_CMD="mdbenchmark -v"
    - CONDA_DEPENDENCIES="mdsynthesis jinja2 click pandas matplotlib xdg<2"
    - CONDA_CHANNELS="conda-forge"
    - NUMPY_VERSION=stable
    - PIP_CACHE_DIR=$HOME/.cache/pip
    - CODECOV=""
    - PYTEST_COV=""
    - UPGRADE_PIP="pip install --upgrade pip"

jobs:
  include:
    - stage: "Linux - Unit tests"
      name: "Python 3.6"
      env:
        - CODECOV="--cov mdbenchmark"
        - PYTEST_COV="pytest-cov codecov"
    -
      name: "Python 3.5"
      python: "3.5"
    -
      name: "Python 2.7"
      python: "2.7"
    - stage: "Linting and formatting"
      name: "Formatting with black"
      install:
        - $UPGRADE_PIP
        - pip install black
      script: black --check setup.py mdbenchmark/
    -
      name: "Linting with flake8"
      install:
        - $UPGRADE_PIP
        - pip install flake8
      script: flake8 mdbenchmark/
    -
      name: "Lint README.rst"
      install:
        - $UPGRADE_PIP
        - pip install restructuredtext_lint
      script: rst-lint README.rst
    - stage: "macOS - Unit tests"
      language: generic
      name: "Python 2.7"
      env: PYTHON_VERSION=2.7
      install:
        - git clone git://github.com/astropy/ci-helpers.git
        - source ci-helpers/travis/setup_conda.sh
        - pip install -e .
      script: $MAIN_CMD $SETUP_CMD

install:
  - $UPGRADE_PIP
  - pip install . mdbenchmark -v $PYTEST_COV

script:
  - pytest $CODECOV

after_success:
  - if [ -z ${CODECOV} ]; then echo "Skipping codecov submit"; else codecov; fi
